<?xml version="1.0" encoding="WINDOWS-1251"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="jdiSuite" verbose="2">
    <test verbose="2" name="login">
        <classes>
            <class name="epam.course.tests.LoginTest"/>
        </classes>
    </test>
    <test name="checkbox" verbose="2">
        <classes>
            <class name="epam.course.tests.CheckboxesTest"/>
        </classes>
    </test>
    <test name="radio" verbose="2">
        <classes>
            <class name="epam.course.tests.RadioTest"/>
        </classes>
    </test>
    <test name="search" verbose="2">
        <classes>
            <class name="epam.course.tests.SearchTest"/>
        </classes>
    </test>
    <test name="pagination" verbose="2">
        <classes>
            <class name="epam.course.tests.NavigationTest"/>
        </classes>
    </test>
</suite>
